body 
{font-family: Arial, Helvetica, sans-serif;}
*{box-sizing: border-box;}

h6{font-size: 25px;}
h5{font-size: 15px; color: #8b8f96;}

#checkB{align-self: center;}

  .tableclass{border : 0px;}
  .tdClass{border : 1px solid #bfbfbf;text-align: center;vertical-align: middle;}
  input{text-align: center;padding: 0;outline: none;border: 0px;width: 40px;height: 35px;font-size: 20px;}

  #box0, #box1, #box2, #box9, #box10, #box11, #box18, #box19,#box20{background-color: #bfbfbf;}
  #box6, #box7, #box8, #box15, #box16, #box17, #box24, #box25,#box26{background-color: #bfbfbf;}
  #box30, #box31, #box32, #box39, #box40, #box41, #box48, #box49,#box50{background-color: #bfbfbf;}
  #box54, #box55, #box56, #box63, #box64, #box65, #box72, #box73,#box74{background-color: #bfbfbf;}
  #box60, #box61, #box62, #box69, #box70, #box71, #box78, #box79,#box80{background-color: #bfbfbf;}

/* Button used to open the contact form*/
.open-button {
  background-color: #555;
  color: white;
  position: fixed;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  right: 15px;
  padding: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-Board{
  right: 15px;
  padding: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 1200px;
  max-height: 1200px;
  padding: 10px;
  background-color: #8b8f96;
}

/* Add a green background color to the resume button */
.form-container .resume {
  background-color: green;
}

.form-container .exit {
  background-color: red;
}
/* Set a style for the buttons*/
.form-container .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom:10px;
  opacity: 0.8;
}

.plmode {
  font-size: 24px;
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 25%;
  margin-bottom:10px;
  opacity: 0.8;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Style for the timer*/
#sec {
  font-size: 20px;
  margin-top: 0px;
}

#min {
  font-size: 20px;
  margin-top: 0px;
}

#Title{
  text-align: center;
}

#Mainbuttons {
  text-align: center;
}

/*The gif for the ads at the bottom*/
#ads{vertical-align: bottom;}
